body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h2 {
    color: #007bff;
    font-size: 1.5rem;
}

.project-list .list-group-item {
    font-size: 1.2rem;
    color: #495057;
    transition: all 0.3s ease;
}

.project-list .list-group-item:hover {
    background-color: #007bff;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 123, 255, 0.5);
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#scrollTopBtn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #343a40;
    color: white;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#fileListContainer {
    background: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode .footer {
    background-color: #1f1f1f;
}

body.dark-mode .project-list .list-group-item {
    background-color: #333;
    color: white;
}

body.dark-mode .project-list .list-group-item:hover {
    background-color: #444;
}

body.dark-mode .modal-content {
    background-color: #222;
    color: white;
}

.project-status {
    font-size: 0.9rem;
    margin-left: 10px;
}
